---
import Layout from "../layouts/Layout.astro";
import {GET} from "../api/repository.json"

let respose: any = await GET(Astro)
const data = await JSON.stringify(respose.message)
---

<Layout title="Github Random Repository">
	<main>
		<h1>Github Random Repository</h1>
	
		<p>
			{{data}}
		</p>
	</main>
</Layout>
